body{
    background: url("../images/bg.jpg") no-repeat fixed;
    min-height:100%;
    /*background-attachment:scroll;*/
    background-position:bottom center, bottom right;
    background-size: cover;

    font-family: 'Stalinist One', cursive;
    color: white;

}
#mainMenu, #game, #levelpicker{
    text-align: center;
}
h1{
    font-size: 3rem;
}
#mainMenu a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    line-height: 4rem;
    display: inline-block;
    width: 600px;
    vertical-align: top;
}
#mainMenu a:hover{
    font-size:3rem;
}
video{
    display: block;
    margin: 10px auto 50px auto;
}
/***********************************************************************************************************************
                                        levelpicker
***********************************************************************************************************************/
#levelpicker h1 {
    margin-bottom: 100px;
    font-size: 3rem;
}
#levelpicker .levelx{
    cursor: default;
}
#levelpicker figure {
    display: inline-block;
    transition: 0.3s ease;
}
#levelpicker figure, figure img {
    width: 300px;
}

#levelpicker figcaption {
    font-size: 2rem;
    position: relative;
    top:-180px;
}

#levelpicker a {
    text-decoration: none;
    color: white;
}
#levelpicker .active{
    cursor: auto;
}
#levelpicker .active:hover img, .active:hover figcaption{
    transform: scale(1.5, 1.5);
}

/***********************************************************************************************************************
                                        level
***********************************************************************************************************************/
#text br{
    display: block;
    margin-bottom: 1.5em;
    content: " ";
}

#text{
    height: 70vh;
    text-align: center;

    margin-right: 250px;
    margin-left: 250px;
}
#text, #skip{
    margin-top: 50px;

    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: lime;
    /*background-color: black;*/
}

#skip{
    animation: blinker 1s linear infinite;
    margin-right: 50px;
    margin-top: 100px;
}

@keyframes blinker {
    50% {opacity: 0; }
}

.hidden{
 display: none;
}

#game canvas{
    margin-right: auto;
    margin-left: auto;
}