<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Space Breakout</title>
    <link rel="stylesheet" href="/views/assets/css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet">
    <script type="text/javascript" src="/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;

        }

        main {
            margin: auto;
            max-width: 920px;
        }
    </style>
</head>
<body>

<div id="mainMenu"><h1>Space Snes Breakout</h1>
<video height="350" autoplay loop muted>
    <source src="/views/assets/images/gradius III - Intro.mp4" type="video/mp4">
</video>
<a href="#" id="singleplayer">Single Player</a><a href="#">Multi Player</a>
</div>
<div id="levelpicker" class="hidden"><h1>Select Level</h1>
           <a href="#" class="levelx active">
               <figure><img src="/views/assets/images/planet1.png" alt="level1">
                   <figcaption>level 1</figcaption>
               </figure>
           </a>
           <a href="#" class="levelx">
               <figure><img src="/views/assets/images/locked.png" alt="level2">
                   <figcaption>level 2</figcaption>
               </figure>
           </a>
           <a href="#" class="levelx"></figure>
               <figure><img src="/views/assets/images/locked.png" alt="level3">
                   <figcaption>level 3</figcaption>
               </figure>
           </a></div>
<div id="game" class="hidden">
    <div id="gameDiv"></div>
</div>

<script type="text/javascript" src="/views/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/views/assets/js/script.js"></script>
<script type="text/javascript" src="/refactoredscript.js"></script>

</body>
</html>