<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Space Breakout</title>
    <link rel="stylesheet" href="/views/assets/css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <script type="text/javascript" src="/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;

        }

        main {
            margin: auto;
            max-width: 920px;
        }
    </style>
</head>
<body>

    <div id="gameDiv"></div>

    <div id="testDiv"></div>

<script type="text/javascript" src="/views/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
<script type="text/javascript" src="/views/assets/js/script.js"></script>
<script type="text/javascript" src="/refactoredscript.js"></script>

</body>
</html>