<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Breakout</title>
    <script type="text/javascript" src="/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;

        }

        main {
            margin: auto;
            max-width: 920px;
        }
    </style>
</head>
<body>


<main>
    <div id="gameDiv"></div>

</main>








<script type="text/javascript" src="/refactoredscript.js">


</script>

</body>
</html>